// google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
// Bootstrap icon
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
// reset
@import url("./reset.css");



* {
    margin: 0;
    padding: 0;
    line-height: none;
    outline: none;
    box-shadow: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root {
    --primary-color: #95bb32;
    --block-color: #2c3038;
    --white: #fff;

    --fs-40: 40px;
    --runnings: 'runnings';
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

p {
    line-height: 1.5;
    font-size: 15px;
}

h2,
.h2 {
    font-size: 40px;
    font-family: 'runnings';

}

@font-face {
    font-family: 'runnings';
    src: url("../font/RUNNINGS.TTF") format("truetype");
}

.section-title {
    text-align: center;

    .h2 {
        font-size: 40px;
        color: var(--primary-color);
        font-family: 'runnings';
    }

    p {
        padding-top: 10px;
    }
}

.section-bg {
    background-color: #f5f8f2;
}

// Header
.header {
    padding: 20px 0;

    .header-content {
        display: grid;
        grid-template-columns: 200px 1fr;
        align-items: center;
    }
}

@media (min-width: 320px) and (max-width: 991.98px) {
    .header {
        display: none;
    }

    .section-title {
        .h2 {
            font-size: 30px;
        }
    }

    h2,
    .h2 {
        font-size: 30px;

    }
}

.top-contact {
    margin-left: auto;

    ul {
        display: flex;
        gap: 20px;
        align-items: center;

        li {}

        a {
            color: var(--block-color);

            i {
                color: var(--primary-color);
            }
        }
    }
}


// NavBar
.navMain {
    transition: all .4s;
    padding: 0;

    .navbar-brand {
        transition: all .3s;
    }

    .navbar-nav {
        align-items: center;
        gap: 25px;

        .nav-link {
            color: var(--block-color) !important;
            font-size: 16px;
            font-weight: 500;
            text-transform: capitalize;
            padding: 30px 0;
            position: relative;
            transition: all .3s;
        }

        .nav-link:hover,
        .active {
            position: relative;

            &::before {
                content: '';
                width: 29px;
                height: 22px;
                background-color: var(--primary-color);
                position: absolute;
                z-index: -1;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .navSearch {
        border-radius: 5px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
        background-color: #fff;
        overflow: hidden;

        input {
            border-radius: 0;
            border: 0;
        }

        .btn {
            background-color: var(--primary-color);
            color: var(--white);
            border: 0;
            border-radius: 0;
        }
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
        width: 300px;
        display: grid !important;
        gap: 10px;
        padding: 20px;

        &::before {
            content: "\f235";
            font-family: bootstrap-icons !important;
            position: absolute;
            top: -18px;
            font-size: 24px;
            left: 35px;
            color: #F8FAF5;
            z-index: -1;
        }

        .dropdown-item {
            padding: 3px 0;
            font-size: 14px;

            &:hover {
                color: var(--primary-color);
            }
        }
    }

    .dropdown-item:focus,
    .dropdown-item:hover,
    .dropdown-item.active,
    .dropdown-item:active {
        color: unset;
        text-decoration: none;
        background-color: unset;
    }

    .dropdown-toggle::after {
        content: "\f282";
        font-family: bootstrap-icons !important;
        border: 0;
        align-items: center;
        transform: translateY(8px);
        margin: -4px 0 0 1px;
    }

}

.navRight {
    .top-contact {
        display: none;
    }
}

.navMain.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 111;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.322);

    .d-lg-none {
        display: block !important;
    }

    .navbar-nav {
        justify-content: center !important;
    }
}

@media all and (min-width: 992px) {
    .navbar .dropdown-menu-end {
        right: 0;
        left: auto;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        border: 0;
        background-color: #F8FAF5;
    }

    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }

    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg);
    }
}

.offcanvasBtn {
    display: none;
}

.navToggleBtn {
    border: 0;
    background: none;
    color: #000;
    font-size: 35px;
    font-weight: 900;
}

.serchicon {
    .dropdown-menu {
        padding: 16px;
        top: 115%;

        input {
            width: 200px;
        }
    }

    .btn {
        padding: 8px 10px;
        border: 0;
        outline: none;
        font-size: 20px;
    }
}

@media (min-width: 320px) and (max-width: 991.98px) {
    .navMain {
        padding: 10px 0;
    }

    .navRight {
        display: block !important;

        .top-contact {
            display: block;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            padding: 20px 1rem;

            ul {
                display: grid;
                gap: 15px;
            }
        }
    }

    .offcanvasBtn {
        display: flex;
        gap: 10px;
        align-items: center;
    }


    .offcanvas-header {
        border-bottom: 1px solid #eee;
    }

    .offcanvas-body {
        padding: 0;
    }

    .leng {
        padding: 1rem 1rem;
    }

    .navbar-nav {
        padding-top: 15px;
        padding-bottom: 15px;

        .nav-link {
            position: relative;
            display: flex;
            align-items: center;
            color: var(--block-color);
            font-size: 15px;
            font-weight: 500;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 40px;

            &:hover {
                background-color: var(--primary-color);
                color: #fff;
            }

            &::after {
                content: "\f285";
                font-family: bootstrap-icons !important;
                margin-left: auto;
                background: var(--primary-color);
                color: #fff;
                width: 30px;
                height: 30px;
                font-size: 18px;
                display: grid;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
            }
        }

        .active {
            background-color: var(--primary-color);
            color: #fff;
        }
    }

}

// Banner

.banner-area {
    position: relative;
    overflow: hidden;

    padding: 40px 0 50px;


    &::after {
        content: url(../img/header-bg.png);
        position: absolute;
        bottom: -70px;
        left: -30px;
    }

    .slick-active button {
        border: 1px solid #000;
        border-radius: 10px;

    }

    .slick-dots li.slick-active button:before {
        color: var(--primary-color);
    }

    .slick-dots li button:before {
        font-size: 8px;
        line-height: 22px;

    }

    .slick-slide img {
        margin: 0 auto;
        max-width: 100%;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 65px;
    }

    .slick-dots {
        bottom: -60px;
    }

    .slide-arrow {
        width: 45px;
        height: 45px;
        background-color: var(--primary-color);
        border: 0;
        border-radius: 100px;
        color: var(--white);
        font-size: 19px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 11;
    }

    .prev-arrow {}

    .next-arrow {
        right: 0;
    }

    .slick-disabled {
        background-color: rgba(149, 187, 50, 0.5);
    }

    @media (min-width: 320px) and (max-width: 991.98px) {
        .slide-arrow {
            display: none !important;
        }
    }
}



.promo-area {
    position: relative;

    &::before {
        content: '';
        background-color: #f5f8f2;
        position: absolute;
        height: 80%;
        width: 100%;
        z-index: -1;
        top: 2px;
        left: 0;
    }
}

.promo-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transform: translateY(-15px);

}

.promo-item {
    width: 204px;
    height: 204px;


    .promo-img,
    .promo-text {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #fff;
        border-radius: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 204px;
        height: 204px;
        padding: 20px;
        position: absolute;
        transition: all .3s;
        font-family: var(--runnings);
    }

    .promo-img {
        transform: scale(1);
        transition: all .3s;
    }

    .promo-text {
        transform: scale(0);
        transition: all .3s;
    }

    &:hover {
        .promo-img {
            transform: scale(0);
        }

        .promo-text {
            transform: scale(1);
        }
    }

    .h5 {
        color: var(--primary-color);
    }

    img {
        width: 100%;
    }

    &:nth-child(2) {
        margin: 0 auto;
    }

    &:nth-child(3) {
        margin-left: auto;
    }

}

@media (min-width: 320px) and (max-width: 991.98px) {

    .promo-item,
    .promo-item .promo-img,
    .promo-item .promo-text {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 320px) and (max-width: 700px) {

    .promo-item,
    .promo-item .promo-img,
    .promo-item .promo-text {
        width: 90px;
        height: 90px;
    }
}
 


.inner-banner {
    .container {
        position: relative;
    }

    .promo-tt {
        position: absolute;
        right: 12px;
        bottom: -55px;
    }

}
@media (min-width: 320px) and (max-width: 991.98px) {
    .inner-banner { 
        .promo-tt { 
            bottom: -30px;
        }
    
    } 
}



// Nieuws
.nieuws-area {
    .section-title {
        padding-bottom: 50px;
    }
}

.nieuws-slid {
    margin-right: 10%;

    .nieuws-item {
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #fff;
        margin: 16px 0;

        .img {
            background-color: #f8faf5;
            min-height: 220px;
            display: grid;
            align-items: center;
            justify-content: center;

            img {
                margin: 0 auto;
            }
        }

        .text {
            padding: 20px;

            .h4 {
                color: var(--primary-color);
                padding-bottom: 15px;
                font-family: var(--runnings);
                display: block;
            }

            p {
                line-height: 1.5;
                color: rgba(35, 31, 32, 0.88);
            }

            .redMor {
                color: var(--primary-color);
                font-weight: 500;
                padding-top: 20px;
                display: inline-block;

                i {
                    padding-left: 5px;
                }
            }
        }
    }

    .slick-slider {
        margin: 0 -15px;
    }

    .slick-slide {
        margin-right: 15px;
        margin-left: 15px;
    }

    .slick-next,
    .slick-prev {
        right: 0 !important;
    }

    .slide-arrow {
        width: 45px;
        height: 45px;
        background-color: var(--primary-color);
        border: 0;
        border-radius: 100px;
        color: var(--white);
        font-size: 19px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 11;
        right: -80px;
    }

    .prev-arrow {
        top: 42%;
    }

    .next-arrow {
        top: 58%;
    }

    .slick-disabled {
        background-color: rgba(149, 187, 50, 0.5);
    }


}

@media (min-width: 1400px) and (max-width: 3000px) {
    .nieuws-slid {
        margin-right: 15%;
    }
}

@media (min-width: 320px) and (max-width: 700px) {
    .nieuws-slid {
        margin-right: 0%;
        padding-bottom: 50px;
        .slide-arrow {
            transform: translateX(-50%);
            top: auto;
            bottom: 0;
            left: 50%;
        }
        .prev-arrow{
            left: 40%;
        }
        .next-arrow{
            left: 60%;
        }
    }




}


// Video
.video-area {
    .section-title {
        padding-bottom: 50px;
    }
}

.video-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    .video-item {
        max-width: 300px;
        border: solid 0.5px rgba(112, 112, 112, 0.5);
        background-color: #fff;
        border-radius: 10px;
        transition: all .3s;

        &:hover {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            transform: scale(1.1);
        }

        &:nth-child(2) {
            margin: 0 auto;
        }

        &:nth-child(3) {
            margin-left: auto;
        }

        .img {
            position: relative;

            .video {
                width: 100%;
            }

            a {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                img {}
            }
        }

        .text {
            padding: 10px;

            p {}

            .date {
                color: rgba(35, 31, 32, 0.5);
                padding: 15px 0;
            }

            a {
                color: var(--primary-color);
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 700px) {
    .video-content {
        grid-template-columns: 1fr;
    }

    .video-item {
        margin: 0 auto;
    }
}

// Testimonial

.testimonial-area {
    background: url('../img/client-bg.png') no-repeat center;
    background-size: cover;

    .dd-slid {
        width: 381px;
        margin: 0 auto;
    }

    .testimonial-dot {
        // max-width: 300px;
        margin: 0px auto 30px;

        .dot-item {
            img {
                margin: 0 auto;
                width: 100%;
                transform: scale(.7);
            }
        }

        .slick-center {
            margin: 0 0;

            img {
                transform: scale(1);
                border: solid 1px var(--primary-color);
                border-radius: 100%;
                padding: 5px;
            }
        }

        .slick-slide {
            padding: 0 0px;
        }

        .slide-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: 0;
            background: no-repeat;
            outline: none;
            font-size: 30px;
        }

        .prev-arrow {
            left: -20%;
            border-right: 1px solid #000;
            height: 50px;
            padding: 0 5px;
        }

        .next-arrow {
            right: -20%;
            border-left: 1px solid #000;
            height: 50px;
            padding: 0 5px;
        }
    }

    .testimonial-slid {
        .testimonial-item {
            text-align: center;

            p {
                font-size: 18px;
            }

            .name {
                font-weight: 600;
                padding-top: 20px;
                padding-bottom: 10px;
            }

            .desc {
                color: var(--primary-color);
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 700px) {
    .testimonial-area .testimonial-dot .prev-arrow {
        left: 39%;
    }

    .testimonial-area .testimonial-dot .next-arrow {
        right: 38%;
    }

    .testimonial-area .testimonial-dot .slide-arrow {
        top: 122%;
        font-size: 16px;
        height: 27px;
    }

    .testimonial-area .testimonial-dot {
        margin: 0px auto 50px;
    }
    .testimonial-area .testimonial-dot .slick-slide { 
        // width: 100px !important;
    }
    .testimonial-area .dd-slid{
        width: 100%;
    }
}

// Ultieme

.ultieme-area {
    background: url('../img/ultieme.png') no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.616);
        z-index: -1;

    }

    .utieme-content {
        text-align: center;
        color: var(--white);
        padding: 0 40px;

        img {}

        .h2 {
            padding-top: 30px;
        }

        p {
            padding-top: 25px;
            text-align: left;

        }
    }
}

@media (min-width: 320px) and (max-width: 700px) {
    .ultieme-area .utieme-content {
        padding: 0 10px;
    }
}

// Team
.team-area {
    padding-bottom: 140px;

}

.pp-right {
    position: relative;
    overflow: hidden;
    padding-bottom: 140px;

    &::after {
        content: url(../img/team-bg.png);
        position: absolute;
        bottom: -70px;
        right: -30px;
    }
}

.pp-left {
    position: relative;
    overflow: hidden;
    padding-bottom: 140px;

    &::after {
        content: url(../img/left1.png);
        position: absolute;
        bottom: -100px;
        left: -70px;
    }
}

@media (min-width: 320px) and (max-width: 700px) {
    .pp-right { 
        padding-bottom: 50px;
        &::after{
            display: none;
        }
    }
    .banner-area::after{
        display: none;
    }
    .pp-left { 
        padding-bottom: 50px;
    
        &::after {
            display: none;
        }
    }
}


.team-slid {

    .team-item {

        .team-img {
            position: relative;
            clip-path: polygon(0 0, 100% 0, 100% 35%, 50% 100%, 0 35%);
            z-index: 1;
            text-align: center;
            padding-top: 45px;
            height: 280px;
            width: 330px;
            margin: 0 auto;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                clip-path: polygon(25% 0%, 75% 0%, 100% 35%, 50% 100%, 0 35%);
                background-color: var(--block-color);
                z-index: -1;
            }

            img {
                transform: translateY(-45px);
                margin: 0 auto;
            }
        }

        .text {
            text-align: center;
            padding-top: 20px;

            .name {
                font-weight: 600;
                padding-bottom: 10px;
            }

            .desc {
                color: var(--primary-color);
            }
        }
    }

    .slick-active button {
        border: 1px solid var(--primary-color);
        border-radius: 10px;

        &::before {
            color: var(--primary-color) !important;
        }
    }

    .slick-dots li button:before {
        font-size: 8px;
        line-height: 22px;
    }

    .slick-dots {
        bottom: -60px;
    }

}

@media (min-width: 320px) and (max-width: 700px) {
    .team-slid .team-item .team-img{
        width: 310px;
        height: 270px;
    }        
}

// Inner Banner
.inner-banner {}

.inner-slider {
    .inner-item {
        img {
            width: 100%;
        }
    }

    .slick-active button {
        border: 1px solid var(--primary-color);
        border-radius: 10px;

    }

    .slick-dots li.slick-active button:before {
        color: var(--primary-color);
    }

    .slick-dots li button:before {
        font-size: 8px;
        line-height: 22px;

    }

    .slick-slide img {
        margin: 0 auto;
        max-width: 100%;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 65px;
    }

    .slick-dots {
        bottom: -45px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 50px;
    }
}

.pageList {
    display: inline-flex;
    z-index: 11;
    position: relative;

    li {
        display: flex;
        align-items: center;

        a {
            color: var(--primary-color);
            font-size: 16px;
            font-weight: 600;
        }

        .active {
            color: var(--block-color);
        }

        &::after {
            content: "\f285";
            font-family: bootstrap-icons !important;
            margin: 0 5px;
            font-weight: 800;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 500px) {
    .pageList li a { 
        font-size: 10px; 
    }
    .pageList li::after { 
        margin: 0 1px; 
        font-size: 10px;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 24px;
    }  
    .slick-dots li { 
        margin: 0 1px; 
    }      
}

.import-europa {}

.import-europa-content {
    display: grid;
    grid-template-columns: 1fr 500px;
    align-items: center;

    .import-europa-text {
        .tt {
            background-color: #F8FAF5;
            padding: 40px 98px 40px 50px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        }

        ul {
            display: grid;
            gap: 20px;

            li {
                line-height: 1.5;
                display: flex;
                gap: 7px;
                align-items: baseline;

                &::before {
                    content: '';
                    border: 2px solid var(--primary-color);
                    width: 14px;
                    height: 10px;
                    display: inline-block;
                }
            }
        }

        a {
            color: var(--primary-color);
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize;
            margin: 25px 15px 0;
            display: inline-block;
        }
    }

    .import-europa-img {
        position: relative;
        border-radius: 20px;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.432);
        }

        img {
            width: 100%;
        }

        .video-popup {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 50px;
            color: var(--primary-color);
            background: #fff;
            border-radius: 100%;
        }
    }
}

.promo-product {
    .promo-content {
        background: url(../img/promo-product-bg.png) no-repeat center;
        background-size: cover;
        padding: 60px 40px;
    }
}

@media (min-width: 320px) and (max-width: 991.98px) {
    .import-europa-content { 
        grid-template-columns: 1fr; 
        background-color: #F8FAF5;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        .import-europa-img{
            border-radius: 0;
        }
        .import-europa-text{
            &:first-child{
                order: 1;
            }
        }   
    }
}
@media (min-width: 320px) and (max-width: 700px) {
    .import-europa-content .import-europa-text .tt{
        padding: 30px 20px;
    }
    .promo-product .promo-content { 
        padding: 30px 0px;
    }
    
    .promo-item .h5{
        font-size: 10px;
    }
    
}

// Waarom Foods
.waarom-foods {}

.waarom-foods-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    .green-cups-img {
        text-align: center;
    }

    .waarom-foods-list {
        display: grid;
        gap: 30px;

        li {
            display: grid;
            grid-template-columns: 70px 1fr;
            gap: 10px;

        }

        .number {
            background-color: var(--primary-color);
            color: var(--white);
            width: 60px;
            height: 60px;
            border-radius: 100%;
            display: grid;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;

        }

        .text {
            .h5 {
                color: #231f20;
                font-size: 15px;
                padding-bottom: 10px;
            }

            p {
                color: #a3aca8;
            }
        }
    }
}
.green-cups-img-one{
    display: none;
}
@media (min-width: 320px) and (max-width: 991.98px) {
    .waarom-foods-content{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .green-cups-img-one{
        display: block;
        grid-column: 1 / -1;
        text-align: center;
        padding-bottom: 20px;
    }
    
    .green-cups-img{
        display: none;
    }
}
@media (min-width: 320px) and (max-width: 700px) {
    .waarom-foods-content { 
        grid-template-columns: 1fr; 
    }
}

.product-lists-area {}

.theme-btn {
    background-color: var(--primary-color);
    color: var(--white);
    display: inline-block;
    padding: 15px 25px;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 600;
    transition: all .3s linear;

    &:hover {
        color: var(--white);
        letter-spacing: 1px;
    }
}

.product-list-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
    padding-top: 50px;

    .product-list-item {
        border-radius: 5px;
        border: solid 0.5px rgba(35, 31, 32, 0.5);
        background-color: #f8faf5;
        padding: 30px;

        .img {
            height: 160px;
            display: grid;
            align-items: center;
            justify-content: center;
            transition: all .3s;
        }

        .text {
            text-align: center;
            padding-top: 15px;

            .h5 {
                color: var(--block-color);
                font-family: var(--runnings);
                font-size: 18px;
            }

            p {
                font-size: 15px;
                color: rgba(35, 31, 32, 0.5);
                padding: 20px 0;
            }
        }

        &:hover {
            .img {
                transform: scale(1.1);
            }

            .h5 {
                color: var(--primary-color);
            }
        }
    }
}

.pagination-content {
    .pagination {
        gap: 15px;

        li {
            a {
                border-radius: 5px !important;
                font-size: 16px;
                font-weight: 600;
                border: 0 !important;
                width: 40px;
                height: 40px;
                display: grid;
                align-items: center;
                justify-content: center;
                color: var(--primary-color);
                background: #F8FAF5;
                outline: none !important;

                &:hover {
                    color: var(--white);
                    background-color: var(--primary-color);
                }
            }
        }
    }

    .page-item.active .page-link {
        color: var(--white);
        background-color: var(--primary-color);
    }
}


.product-details-area {}

.product-details-content {
    display: grid;
    grid-template-columns: 340px 1fr;
    gap: 50px;
    align-items: center;

    .product-details-img {
        background: #F8FAF5;
        height: 280px;
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .product-details-text {
        .star {
            li {
                display: inline-block;
                color: #FFC107;
            }
        }

        .h4 {
            color: var(--primary-color);
            font-family: var(--runnings);
            padding-bottom: 15px;
        }

        .text {
            padding-top: 10px;

            p {
                border-bottom: 1px solid #c7c5c5;
                display: inline-block;
                padding-bottom: 10px;
            }
        }

        .det {
            display: grid;
            gap: 10px;
            padding-top: 20px;

            li {}

            span {
                color: var(--primary-color);
            }
        }

    }
}

@media (min-width: 320px) and (max-width: 991.98px) {
    .product-details-content{
        grid-template-columns: 300px 1fr;
    }
}
@media (min-width: 320px) and (max-width: 700px) {
    .product-details-content{
        grid-template-columns: 1fr;
    }
}

// blog
.blog-area {}

.blog-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    column-gap: 50px;

    .blog-item {
        background-color: #fff;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        border-radius: 10px;

        .img {
            background-color: #f8faf5;
            min-height: 220px;
            display: grid;
            align-items: center;
            justify-content: center;
            padding: 15px;
        }

        .text {
            padding: 20px;

            .h4 {
                font-family: var(--runnings);
                color: var(--primary-color);
            }

            p {
                padding: 20px 0;
            }

            .redMor {
                color: var(--primary-color);
                font-weight: 500;
                transition: all .3s linear;

                &:hover {
                    letter-spacing: 1px;
                }
            }
        }
    }
}

.blog-details-content {
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: center;
    gap: 30px;

    .blog-details-img {
        background-color: #f8faf5;
        padding: 30px;
        display: grid;
        align-items: center;
        justify-content: center;

        img {}
    }

    .blog-details-text {
        .h4 {
            color: var(--primary-color);
            font-family: var(--runnings);
        }

        p {
            padding-top: 15px;
        }

        a {
            color: var(--primary-color);
        }
    }
}
#gmap_canvas {
    height: 400px;
}
@media (min-width: 320px) and (max-width: 991.98px) {
    .blog-content{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }   
    #gmap_canvas {
        height: 200px;
    } 
    
}
@media (min-width: 320px) and (max-width: 700px) {
    .blog-content{
        grid-template-columns: 1fr;
        gap: 30px;
    } 
    
    .blog-details-content{
        grid-template-columns: 1fr;
    }
}




// Footer

.footer-widget {
    background-color: var(--block-color);

    .footer-logo {
        img {}
    }


}

.footer-det {
    display: grid;
    gap: 17px;
    padding-top: 20px;

    li {
        color: var(--white);
        display: flex;
        line-height: 1.5;

        i {
            color: var(--primary-color);
            padding-right: 10px;
        }
    }
}

.footer-form {
    padding-top: 50px;

    .h6 {
        color: var(--white);
        padding-bottom: 15px;
    }

    form {
        .form-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            .left-f {
                display: grid;
                gap: 15px;
            }

            input,
            textarea {
                width: 100%;
                border-radius: 5px;
                background-color: #fff;
                height: 45px;
                padding: 0 10px;
                border: 0;
                font-size: 15px;
            }

            textarea {
                height: 100%;
                padding: 15px;
            }
        }

        .theme-btn {
            width: 183px;
            height: 45px;
            border-radius: 5px;
            background-color: var(--primary-color);
            font-weight: bold;
            color: var(--white);
            float: right;
            margin-top: 25px;
            border: 0;
        }
    }
}

@media (min-width: 320px) and (max-width: 991.98px) {
    .footer-form form .theme-btn {
        width: 219px;
    }
}

.contact-footer-widget {
    form {
        background-color: #F8FAF5;
        padding: 30px;
        display: inline-block;
        width: 100%;
        border-radius: 10px;

        .theme-btn {
            width: 48%;
        }
    }

    .footer-form {
        padding-top: 0;
    }

    .h4 {
        color: var(--primary-color);
        font-family: var(--runnings);
        padding-bottom: 30px;
    }

    .footer-det {
        padding-top: 0;

        li {
            color: var(--block-color);
        }
    }

    .social {
        padding-top: 40px;

        a {
            color: var(--primary-color);

            &:hover {
                color: var(--white);
                background: var(--primary-color);
            }
        }
    }

    .form-g {
        height: 90%;

        label {
            font-size: 14px;
            font-weight: 500;
            padding-bottom: 10px;
        }
    }


}

@media (min-width: 320px) and (max-width: 991.98px) {
    
    .contact-footer-widget .footer-form {
        padding-top: 50px;
    }  
}

.copyright {
    background-color: var(--primary-color);
    padding: 25px;

    .copyright-content {
        display: grid;
        grid-template-columns: 1fr 200px;
        align-items: center;
        color: var(--white);
    }

    .social {
        justify-content: end;
    }

    p {
        display: flex;
        gap: 10px;
    }

}

.social {
    display: flex;
    align-items: center;
    gap: 15px;

    li {
        a {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #fff;
            width: 40px;
            height: 40px;
            color: var(--block-color);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            font-size: 18px;

            &:hover {
                color: var(--primary-color);
            }
        }
    }
}


@media (min-width: 320px) and (max-width: 700px) {
     
    .copyright .copyright-content{
        grid-template-columns: 1fr;
        .social{
            display: none;
        }
    }
    .copyright { 
        padding: 25px 5px;
    }
    .footer-form form .form-content { 
        grid-template-columns: 1fr; 
    }
    .footer-form form .form-content textarea {
        height: 160px; 
    }
    .footer-form form .theme-btn {
        width: 100%;
    }
}











/*=============================================
    Scroll top         
============================================*/
.scroll-top {
    position: fixed;
    right: 4%;
    bottom: -50px;
    z-index: 111;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.03);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.03);
    display: block;
    padding: 0;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    font-size: 25px;
    line-height: 60px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    background-color: var(--primary-color);
    background-size: 200% auto;
    background-position: left center;
    color: var(--white);
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    overflow: hidden;
    border: 1px solid;
}

.scroll-top:hover {
    background: var(--block-color);
}

@media only screen and (max-width: 479px) {
    .scroll-top {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }
}

.scroll-top.show {
    visibility: visible;
    opacity: 1;
    bottom: 60px;
}

.scroll-top i {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--white);
    -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.scroll-top .arrow-top {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.scroll-top .arrow-bottom {
    -webkit-transform: translate(-50%, 80px);
    -ms-transform: translate(-50%, 80px);
    transform: translate(-50%, 80px);
}

.scroll-top:hover {
    background-position: right center;
}

.scroll-top:hover .arrow-top {
    -webkit-transform: translate(-50%, -80px);
    -ms-transform: translate(-50%, -80px);
    transform: translate(-50%, -80px);
}

.scroll-top:hover .arrow-bottom {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.fa-long-arrow-up:before {
    content: "\f106";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
}